<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487363464058-vios57a4qcm1tk2t73rqdh2pgo9koepm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487363464058-vios57a4qcm1tk2t73rqdh2pgo9koepm</string>
	<key>API_KEY</key>
	<string>AIzaSyC8pZ1CxtwNmHiFI2Vc13rS1KBsrh0V_qU</string>
	<key>GCM_SENDER_ID</key>
	<string>487363464058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.App1</string>
	<key>PROJECT_ID</key>
	<string>uniapp-1a3ce</string>
	<key>STORAGE_BUCKET</key>
	<string>uniapp-1a3ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487363464058:ios:355b6767bede50e41fe4c3</string>
</dict>
</plist>